
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="background-container">
    <img th:src="@{/images/elec2.jpg}" alt="Background Image 1">

    <img th:src="@{/images/cranes.jpg}" alt="Background Image 2">
    <img th:src="@{/images/water2.jpg}" alt="Background Image 3">
    <img th:src="@{/images/hammer.jpg}" alt="Background Image 4">
</div>
<div class="login-container">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required/>
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
        <div class="error" th:if="${param.error}">
            Invalid username or password.
        </div>
        <div class="logout" th:if="${param.logout}">
            You have been logged out.
        </div>
        <div th:if="${param.error}">
            <p class="error-message">Invalid username or password. Please try again.</p>
        </div>
    </form>
</div>
</body>
</html>

